.landingpage-header .site-menu>ul {
    float: right;
    margin-right: 102px;
}
.banner-text {
padding-top: 50px
}
.banner-text h2 {
    font-size: 48px;
    font-weight: 600 !important;
    text-shadow: 1px 3px 5px #0a0a0a;
}
.banner-text h6 {
    max-width: 910px;
    margin: 0 auto;
    font-size: 14px;
    word-wrap: break-word;
    line-height: 23px;
}
.site-logo {
    width: 230px;

}
.site-menu ul>li>a {
    color: #040707;
}
.item {
    margin-bottom: 20px !important;
    padding: 15px;
    display: flex;
    align-items: flex-end;
    color: white;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
}
.item::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #0000007a;
}
.item-text{
  position: relative;
  z-index: 1
}
.item h4{
  color: white
}


.item-lg{
  height: 450px;
  background-color: red
}
.item-md{
      height: 225px;
      background-color: green
}
.item-sm{
  height: 205px;
  background-color: yellow
}
.you-box img {
    margin-bottom: 0px !important;
    transition: all 300ms ease-in-out;
    transform: scale(.90);
    max-width: 75px;
    border-right: 1px solid #d4d4d4;
    padding-right: 16px;
    margin-left: 0px !important;
    margin-right: 20px !important;
}


.you-box p {
    font-weight: 600;
    font-size: 17px;
    color: #3a3a3a;
    margin-bottom: 0px;
}
.you-box {
    display: inline-block;
    padding: 0px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #bbbbbb;
    padding: 6px 14px;
    background-color: #ffffff;
    box-shadow: 0px 27px 24px -24px #969696;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
}
.you-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-top: -39px;
    margin-bottom: -32px;
    position: relative;
    display: flex;
    justify-content: center;
}
.fw-section {
    width: 100%;
    border-bottom: 4px solid #bbbbbb;
}
.you-container a {
    text-decoration: none;
    margin: 0px 8px;
    display: inline-block;
}
.site-footer {
    background-color: #1d1d1d;
}
.footer-top {
    background-color: #383737;
    color: white;
}
.footer-top h1 {
    color: white;
}
.btn-default{
  background-color: white
}
.offcanvas-container {

    background-color: #363939;

}
.offcanvas-menu ul li.back-btn>a {
    background-color: #e84346;
}
.service .service-icon {
    width: 70px;
    border-bottom-width: 30px;
    border-right-width: 50px;
    border-top-width: 30px;
    border-bottom-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    z-index: 1;
    display: inline-block;
}
.service a {
    color: #2d3136;
    text-decoration: none;
}
.service .service-icon{
  border-bottom-color: transparent;
border-right-color: #fff;
border-top-color: transparent;
}
.base.service .service-icon{
color: #fff;
}
.base.service .service-icon {
    border-right-color: #ed1f24;
}
.service .service-icon i {
    font-size: 28px;
    height: 35px;
    left: 0;
    margin-left: 51px;
    margin-top: 21px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 38px;
    font-size: 18px;
}
.service .service-text {
    padding-left: 25px;
}
.service .service-text h4 {
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 16px;
    position: relative;
    padding-bottom: 12px;
    left: 0px;
}
.service .service-text h4:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 55px;
    background-color: #dadada;
    bottom: 0px;
    left: 0px;
}
.service {
    padding-bottom: 30px;
    display: flex;
    align-items: center;
}
.service:hover .service-icon, .social-icon > li > a:hover {
    border-right-color: #2d3136;
}
.features-section{
  background-image: url(./../img/Triangle-White-Seamless-Patterns.jpg);
}
.banner-section {
    background-image: url(./../img/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    min-height: 487px;
    padding-bottom: 70px;
}
.products-intro img {
    width: 100%;
    max-width: 700px;
}
.separator-section {
  margin-top: 30px;
  margin-bottom: 30px
}
.featured-image{
  margin-bottom: 30px
}

.block-icon {
    position: absolute;
    left: 0;
    top: 0px;
}
.block-icon i {
    font-size: 21px;
    line-height: initial;
    color: #ed1f24;
    font-weight: normal;
}
.block.style-5 {
    position: relative;
}
.block-content {
    padding-left: 28px;
}
.block-content .block-title {
    padding: 0;
    margin: 0 0 8px 0;
    color: #282d33;
    font-size: 16px;

}
.form-user.style-1 {
    background-color: #fff;
    color: #333;
    border: 1px solid #e2e7ec;
}
.form-user.style-1 .form-header {
    padding: 11px 0;
    background-color: #ecf0f1;
    border-bottom: 1px solid #ecf0f1;
}
.form-user.style-1 .form-header .form-header-title {
    margin: 0;
    padding: 0;
    color: #282d33;
    font-size: 20px;
}
.form-user.style-1 .form-body {
    padding: 25px;
    background-color: #fff;
}
.btn-base-1:hover, .btn-base-1:focus, .btn-base-1:active, .btn-base-1.active, .open .dropdown-toggle.btn-base-1 {
    color: #fff;
    background-color: #d2181c;
    border-color: #d2181c;
}
.btn-base-1 {
    background-color: #ed1f24;
    border: 1px solid #ed1f24;
    color: #fff;
    line-height: inherit;
}

.btn-lg {
    font-size: 15px;
    padding: 10px 36px;
    height: 46px;
}
.form-user.style-1 .form-footer {
    padding: 10px 0;
    background-color: #ecf0f1;
    border-top: 1px solid #ecf0f1;
}
.login-wrapper {
    min-height: calc(100vh - 96px);
    padding: 45px 0px;
    background-image: url(./../img/Triangle-White-Seamless-Patterns.jpg);
    position: relative;
}
.login-wrapper:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    background-color: #ffffff8c;
}
.login-wrapper section{
position: relative;
z-index: 1
}
.block-heading{

}
.block-heading h2 {
    position: relative;
    padding-bottom: 9px;
    margin-bottom: 23px;
}
.block-heading h2::after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #ed1f24;
    width: 100px;
    left: 0px;
    top: 100%;
}
.faq-section {
    margin-top: 14px;
}
@media (max-width: 628px) {
  .you-box img {

      display: none !important;
  }
  .you-box {

    padding: 18px 18px;

}
}
